$side-margin: 60px;
$vertical-margin: 1px;
$line-width: 3px;

$node-padding: 3px;

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.item{
  display: flex;
  flex-direction: row-reverse;
  p{
    padding: $node-padding;
    margin: 0;
    background-color: #7a7b7d;
    text-shadow: rgb(34,34,34) 1px 1px 1px;
    font-size: 14px;
    font-family: "Roboto Light", sans-serif;
    border-width: 0;
    border-radius: $node-padding;
    min-width: 130px;
    text-align: center;
  }

  &-parent{
    position: relative;
    margin-left: $side-margin;
    display: flex;
    align-items: center;
    &:after{
      position: absolute;
      content: '';
      width: $side-margin/2;
      height: $line-width;
      left: 0;
      top: 50%;
      background-color: #fff;
      transform: translateX(-100%);
    }
  }
  &-children{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-child{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color: #fff;
      right: 0;
      top: 50%;
      transform: translateX(100%);
      width: $side-margin/2;
      height: $line-width;
    }
    &:after{
      content: '';
      position: absolute;
      background-color: #fff;
      right: -$side-margin / 2;
      height: calc(50% + #{$vertical-margin} * 2) ;
      width: $line-width;
      top: 50%;
    }
    &:last-child{
      &:after{
        transform: translateY(-100%);
      }
    }
    &:only-child:after{
      display: none;
    }
  }
}
