$side-margin: 50px;
$vertical-margin: 10px;

.wrapper{
  display: flex;
  justify-content: center;
}

.item{
  display: flex;
  flex-direction: row-reverse;
  p{
    padding: 20px;
    margin: 0;
    background-color: #595a5e;
    color: white;
    text-shadow: rgb(34,34,34) 1px 1px 1px;
  }

  &-parent{
    position: relative;
    margin-left: $side-margin;
    display: flex;
    align-items: center;
    &:after{
      position: absolute;
      content: '';
      width: $side-margin/2;
      height: 2px;
      left: 0;
      top: 50%;
      background-color: #fff;
      transform: translateX(-100%);
    }
  }
  &-children{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-child{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color: #fff;
      right: 0;
      top: 50%;
      transform: translateX(100%);
      width: 25px;
      height: 2px;
    }
    &:after{
      content: '';
      position: absolute;
      background-color: #fff;
      right: -$side-margin / 2;
      height: calc(50% + 22px) ;
      width: 2px;
      top: 50%;
    }
    &:last-child{
      &:after{
        transform: translateY(-100%);
      }
    }
    &:only-child:after{
      display: none;
    }
  }
}
